main {
  max-width: 1000px;
  margin: auto;
}

main h2 {
  font-size: 18px;
  color: #AAAAAA;
}

main h3 {
  font-size: 24px;
}

.projects img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.projects div {
  display: inline-block;
}
