main {
  max-width: 1000px;
  margin: auto;
}

main h2 {
  font-size: 18px;
  color: #AAAAAA;
}

main h3 {
  font-size: 24px;
}

.projects img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}

.projects div {
  display: inline-block;
}

form {
  padding: 20px;
  border: 1px solid #AAAAAA;
  width: 600px;
  margin: 40px auto;
}

form input {
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
}

form button {
  font-size: 18px;
  font-weight: bold;
  background-color: #3D9970;
  color: white;
  padding: 10px;
  border: none;
  width: 100px;
}