footer {
  padding: 20px;
  border-top: 1px solid #DDDDDD;
  text-align: center;
}

.footer-container {
  display: block;
}

.social, .contributors {
  display: inline;
}

.social img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.social a {
  vertical-align: middle;
}
