
.header {
  padding: 20px;
  border-bottom: 1px solid #DDDDDD;
}

.header__title {
  display: inline;
  font-size: 24px;
}

.nav {
  float: right;
  margin-top: 10px;
}

.nav__list {
  display: inline;
}

.nav__list__item {
  display: inline;
  margin-left: 10px;
}