html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #AAAAAA;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.title__highlight {
  font-weight: lighter;
  text-transform: uppercase;
}